<div class="flex flex-col">
  <ng-container *ngIf="item; else loading">
    <div [style.background]="bgImg"
         class="relative w-full aspect-[2/3] bg-center bg-cover">
      <div class="absolute inset-x-0 -bottom-0.5 top-1/2 z-10 bg-gradient-to-t from-[#15141F] via-transparent"></div>
      <div *ngIf="showDetails" class="z-20 absolute bottom-4 left-6">
        <ion-button
          class="font-bold border border-neutral-50/10  bg-black bg-opacity-20 rounded-xl backdrop-blur text-white normal-case"
          fill="clear">
          <ion-icon class="mr-2 text-orange-600" name="play"></ion-icon>
          <div class="flex flex-col items-start justify-center">
            <span class="text-slate-300 font-normal text-xs">Play trailer</span>
          </div>
        </ion-button>
        <ion-button (click)="openDetails.emit({type: item?.media_type, id: item?.id})" fill="clear">
          <ion-icon class="text-white" name="information-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

  </ng-container>
  <ng-template #loading>
    <div class="">
      <ion-skeleton-text class="w-full rounded-none aspect-[2/3]" [animated]="true"></ion-skeleton-text>
    </div>

  </ng-template>

</div>

