<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="flex flex-col h-full justify-center gap-4">
    <ion-text color="primary">
      <h1 class="text-3xl text-center">Let's get started</h1>
    </ion-text>
    <ion-text>
      <p class="text-gray-500 text-center">The latest movies and series<br> are here</p>
    </ion-text>
    <form [formGroup]="signupForm" class="flex flex-col my-8"  (ngSubmit)="signup()" #form="ngForm">
      <ion-item shape="round">
        <ion-label position="fixed">Full Name</ion-label>
        <ion-input type="text" formControlName="fullName"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="signupForm.get('fullName').hasError('required') && (signupForm.get('fullName').touched || form.submitted)">
        Full name is required
      </div>
      <ion-item shape="round" class="mt-8">
        <ion-label position="fixed">Email Address</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="signupForm.get('email').hasError('required') && (signupForm.get('email').touched || form.submitted)">
        Email is required
      </div>
      <div class="error-message" *ngIf="signupForm.get('email').hasError('email') && (signupForm.get('email').touched || form.submitted)">
        Wrong email format
      </div>
      <ion-item shape="round" class="mt-8">
        <ion-label position="fixed">Password</ion-label>
        <ion-input type="text" [formControlName]="passwordInputType"></ion-input>
        <ion-button slot="end" fill="clear" (click)="togglePasswordInputType()">
          <ion-icon [name]="passwordInputType === 'password' ? 'eye' : 'eye-off'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="error-message" *ngIf="signupForm.get('password').hasError('required') && (signupForm.get('password').touched || form.submitted)">
        Password is required
      </div>
      <ion-item shape="round" class="mt-4">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>I agree to the <ion-text color="primary">Terms and Services</ion-text> and <ion-text color="primary">Privacy Policy</ion-text></ion-label>
      </ion-item>
      <ion-button expand="block" class="normal-case mt-8" type="submit">
        Sign Up
      </ion-button>
    </form>
  </div>
</ion-content>
