<div class="px-4 py-2">
  <h1 class="text-xl">{{sectionTitle}}</h1>
  <div class="py-2 flex items-center flex-nowrap overflow-x-auto space-x-4 snap-x">
    <ng-container *ngIf="items$ | async as items; else loading">
      <img *ngFor="let item of items" [routerLink]="['/details', item.media_type, item?.id]" [src]="item?.poster_path | tmdbImage"
           alt=""
           class="w-40 aspect-[2/3] snap-start rounded"
           loading="lazy">
    </ng-container>
    <ng-template #loading>
      <ion-spinner class="self-center"></ion-spinner>
    </ng-template>
  </div>
</div>
